<!-- views/home.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <title>Home Page</title>
    <link rel="stylesheet" href="../style/home.css">
</head>
<body>
    <header>
        <h1>Welcome to the world</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
        </nav>
        
    </header>
    
    <div class="middle-layer">
        <div class="row">
               <div class="col col-20">
    <div class="col col-20">
        <% if (data) { %>
            <p>Data available!</p>
            <%- include('country.ejs', { data: data }) %> <!-- Pass 'data' and 'selectedCountry' here -->
        <% } else { %>
            <p>No data available.</p>
        <% } %>
    </div>
    </div>
    <div class="col col-80">
        <% if (typeof selectedCountry !== 'undefined' && selectedCountry !== null) { %>
            <h2>Cities in <%= selectedCountry %></h2>
            <%- include('cities.ejs', { citiesData: citiesData }) %> <!-- Pass citiesData to cities.ejs -->
        <% } else { %>
            <p>Select a country to filter cities.</p>
        <% } %>
    </div>
</div>
</div>

    <footer>
        <p>Created by Kunal</p>
    </footer>
</body>
</html>
